<h1>Main#sample</h1>
<p>Find me in app/views/main/sample.html.erb</p>

<%= link_to("Go to Index",
            {:use_route => 'root'}) %>
<br/>
<%= "Message from controller : #{@controller_message}" %>
<br/>
<h3>Add New User</h3>
<%= form_tag :action => 'create' do %>
  <p>
    <label for="username">Username</label>:
    <%= text_field 'users', 'email' %>
  </p>
  <p>
    <label for="password">Password</label>:
    <%= password_field 'users', 'password' %>
  </p>
  <%= submit_tag 'Create' %>
<% end -%>